profiles {

    standard {  
        docker.enabled = true
        process {
            withLabel:containerized {
                container = 'alexandrebouchardcote/default:0.1.6'
            }
        }
    }

    cluster {
        apptainer.enabled = true
        process {
            scratch = true
            executor = 'slurm'
            cpus = 1
            memory = 4.GB
            time = '2h'
            clusterOptions = "--nodes=1 --account $ALLOCATION_CODE"

            withLabel:containerized {
                container = 'alexandrebouchardcote/default:0.1.6'
                module = 'apptainer'
            }
        }
    }
}

// Can place things here common to profiles, but only 
// if they do not occur in same scope as things in profile scopes,
// search 'Danger' in https://www.nextflow.io/docs/latest/config.html
resume = true

